body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

#upper_part {
    position: absolute;
    top: 0;
    width: 100%;
}

#aux {
    float: right;
    margin: 16px 30px;
    font: 13px Arial, sans-serif;
}

.upper-link {
    margin-right: 15px;
    color: #000;
    line-height: 24px;
    text-decoration: none;
    opacity: .75;
}

.upper-link:hover {
    text-decoration: underline;
    opacity: .85;
}

#google_apps {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    outline: none;
    background-image: url(images/google_apps.png);
    background-size: 20px 20px;
    opacity: .55;
}

#google_apps:hover {
    opacity: .85;
}

.triangle {
    display: none;
    position: absolute;
    right: 117px;
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 2;
}

#border_triangle {
    top: 52px;
    border-bottom: 9px solid lightgrey;
}

#main_triangle {
    top: 53px;
    border-bottom: 9px solid white;
}

#apps_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    height: 496px;
    width: 320px;
    border: 1px solid lightgrey;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

#apps_menu ul {
    width: 270px;
    margin: 0;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
}

#apps_menu li {
    display: inline-block;
    height: 98px;
    width: 80px;
    margin: 0;
    padding: 1px;
    color: black;
    vertical-align: top;
}

#apps_menu ul a{
    display: inline-block;
    margin: 8px 2px;
    outline: none;
    text-align: center;
    text-decoration: none;
}

#apps_menu li a:hover {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
}

.app-image {
    display: inline-block;
    height: 64px;
    width: 64px;
    vertical-align: top;
    background-image: url(images/apps_images.png);
    background-size: 64px 2134px;
}

.app-text {
    color: black;
}

#more {
    display: block;
    height: 40px;
    width: 320px;
    color: #737373;
    background: #f5f5f5;
    font: 13px/40px Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

#apps_menu hr {
    display: none;
    margin: 0 28px;
    border-top: 1px solid #ebebeb;
}

.more-apps {
    display: none;
    height: 40px;
    width: 320px;
    color: #737373;
    font: 13px/40px Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

#more {
    display: block;
    background: #f5f5f5;
}

#sign_in {
    display: inline-block;
    padding: 0 12px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
    cursor: default;
}

#sign_in:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

#sign_in:active {
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
}

#central_part {
    margin: auto;
    margin-top: 198px;
    width: 590px;
}

#logo {
    height: 92px;
    width: 272px;
    margin: auto;
    background: url(images/google_logo.png);
    background-size: 272px 92px;
}

#logo_subtext {
    position: relative;
    top: 76px;
    left: 215px;
    color: #4285f4;
    font: 16px/16px Arial, sans-serif;
}

#search_line {
    height: 44px;
    width: 584px;
    margin: auto;
    margin-top: 30px;
    border-radius: 2px;
}

.usual {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#search_line:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.focused {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#search_line > * {
    vertical-align: middle;
}

#search {
    display: inline-block;
    height: 34px;
    width: 503px;
    margin: 5px 16px;
    padding: 0;
    border: none;
    outline: none;
    font: 16px Arial,sans-serif;
}

#by_voice {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(images/google_microphone.png);
    background-size: 24px 24px;
}

#buttons {
    margin-top: 18px;
    text-align: center;
}

.button {
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    background-color: #f2f2f2;
    color: #757575;
    font: bold 13px/27px Arial, sans-serif;
}

.button:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    color: black;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.button:focus {
    border: 1px solid #4d90fe;
    outline: none
}

#page_language {
    margin-top: 12px;
    text-align: center;
    font: small/28px Arial,sans-serif;
}

#page_language a {
    text-decoration: none;
    color: #1a0dab;
}

#page_language a:hover {
    text-decoration: underline;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
    font: small/40px Arial, sans-serif;
}

#left_side {
    margin-left: 30px;
}

#right_side {
    float: right;
}

#footer a {
    margin-right: 27px;
    color: #667;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer a:active {
    color: #ea4335;
}

#settings_menu {
    display: none;
    position: absolute;
    right: 88px;
    bottom: 30px;
    padding: 10px 0;
    border: 1px solid #999;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#settings_menu a {
    display: block;
    margin: 2px 10px 0;
    padding: 0 20px;
    line-height: 44px;
}

#settings_menu a:hover {
    color: black;
    opacity: .85;
}